// Aquí irá el CSS personalizado DESPUÉS de compilar Boost.

/* Personalización de la Cabecera y Logotipo de Aprendetek */
.navbar-brand {
    .logo {
        height: 50px; /* Altura base para el SVG */
        width: auto;
        max-height: 100%;
        transition: all 0.3s ease;
    }
}

/* Ajuste ligero para móviles */
@media (max-width: 575.98px) {
    .navbar-brand .logo {
        height: 40px;
    }
}
